### OSX ###
.DS_Store
config.codekit

# Thumbnails
._*

# Files that might appear on external disk
.Trashes

# dist file

### Ruby ###
*.gem
*.rbc
.bundle
.config
bower_components
node_modules
release
.sass-cache

# YARD artifacts
.yardoc
_yardoc

# file
doc/

# movie
*.mp4
*.webm
